<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="box.lilei.box_client">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.FOCE_STOP_PACKAGES" />

    <application
        android:name="com.zhang.box.application.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo_two"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        <activity
            android:name="com.zhang.box.client.view.activity.ADBannerActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.zhang.box.client.view.activity.MoreGoodsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.zhang.box.client.view.activity.PayActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.zhang.box.manager.view.activity.LoginActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.zhang.box.manager.view.activity.ManagerNavgationActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.zhang.box.client.view.activity.ActiveActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.zhang.box.service.HeartService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name="com.zhang.box.client.receiver.OpenDoorBroadcastReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name="com.zhang.box.client.receiver.NetBroadcastReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name="com.zhang.box.client.receiver.GoodsBroadcastReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name="com.zhang.box.client.receiver.AutoStartBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.zhang.box.client.receiver.AVMRunningBroadcastReceiver"
            android:enabled="true"
            android:exported="true"></receiver>
    </application>

</manifest>